bcrypt
beautifulsoup4
certifi
cffi
Click
cloudpickle
clyent
cryptography
Cython
dnspython
docutils
flake8
Flask-PyMongo
html5lib
HTMLrenderer
Flask
Flask-Cors
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
scikit-learn==0.24.2
scipy
six
Werkzeug
